.cards {
	display: flex;
    flex-wrap: wrap;
}

.card {
	padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
    border-radius: 7px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background-color: white;
    height: 150px;
    flex-basis: 260px;
    flex-grow: 1;
}

.card img {
	width: 180px;
    border-radius: 7px;
    margin-right: 10px;
}